<header class="navbar navbar-fixed-top navbar-default">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "किरण ट्रेडर्स ", '/', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">

          <li><%= link_to "New Upload", "#" %></li>
          <li><%= link_to "News", "#" %></li>
          <li><%= link_to "About", "#" %></li>
          <li><%= link_to "Logout", "#" %></li>

        </ul>
        <span class="icon-bar"></span>
      </nav>
    </div>
  </div>
</header>